@model IEnumerable<oop_s3_1_mvc_83303.Models.CourseEnrolment>
@{ ViewData["Title"] = "Take Attendance"; }

<h1>Take Attendance</h1>
<form asp-action="SaveAttendance" method="post">
    <input type="hidden" name="courseId" value="@ViewBag.CourseId" />
    <div class="form-group mb-3">
        <label>Week Number</label>
        <input type="number" name="weekNumber" class="form-control" value="1" min="1" max="15" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Present</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Student?.Name</td>
                    <td>
                        <input type="checkbox" name="attendance[@item.Id]" value="true" checked />
                        <input type="hidden" name="attendance[@item.Id]" value="false" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Save Attendance</button>
</form>
